@keyframes textLoop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-280px);
    }
}


.progress {
  position: relative;
  height: 20px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.progress div {
  height: 100%;
  background-color: #4caf50;
  animation: progressAnimation 2s ease-out;
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
