@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: italic;
    font-style: normal;
    display: swap;
}


$police-principale: 'Montserrat', sans-serif;
$police-secondaire: 'Montserrat', sans-serif;
